* {
    box-sizing: border-box;
    border-radius:5px solid red;
  }

  body {
    margin: 0;
    font-family: Inter, sans-serif;
    background-color: #FFFF;
    
   
  }
  .footer{
      background-color: #161619;
      width: 287px;
      height: 37px;
      border-bottom: 4px;
  }
 footer:nth-child(n){
     color: #FFFF;
     
    
  }
  .icon{
    padding: 10px 26px ;
    text-align: center;
    text-align: right;
    
   

  }